:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    height: auto;
    margin: 120px auto;
    overflow: hidden;
    border-radius: 10px;
    background: var(--white);
}

.product-image {
    background-image: url("./images/image-product-desktop.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-content {
    padding: 30px;
}

.product {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: var(--darkGrayishBlue);
    opacity: 40%;
    letter-spacing: 3px;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.product-big__text {
    font-family: "Fraunces", sans-serif;
    font-size: 37px;
    padding-bottom: 20px;
    color: var(--veryDarkBlue);
}
.product-small__text {
    font-family: "Montserrat", sans-serif;
    color: var(--darkGrayishBlue);
    font-size: 14px;
    padding-bottom: 25px;
    opacity: 30%;
}

.price {
    display: flex;
    align-items: center;
    color: var(--darkCyan);
}

.current-price {
    font-family: "Fraunces", sans-serif;
    color: var(--darkCyan);
    font-size: 35px;
    font-weight: 700;
    margin-right: 60px;
}
.previous-price {
    font-family: "Fraunces", sans-serif;
    font-size: 12px;
    color: var(--darkGrayishBlue);
    text-decoration: line-through;
}

button {
    background: var(--darkCyan);
    color: var(--white);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

button:hover {
    background: rgb(41, 61, 41);
    transition: margin-right 5s ease-out;
}

.btn-icon {
    margin-right: 10px;
}

@media screen and(max-width: 600px) {
    .card {
        max-width: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 800px;
    }
    .product-image {
        background-image: url("./images/image-product-mobile.jpg");
        background-size: cover;
    }
}
