:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    max-width: 600px;
    margin: 0 auto;
}

.card {
    display: flex;
    /* height: auto; */
    margin: 120px auto;
    border-radius: 5px;
    justify-content: center;
    background-color: white;
    /* align-items: center; */
}

/* .product-image {
    max-width: 100px;
    margin: 5px 5px 0 5px;
} */

.chanel-perfume__1 {
    max-width: 100%;
    margin: 5px 5px 0 5px;
}

.chanel-perfume__2 {
    display: none;
}

.product-content {
    display: flex;
    flex-direction: column;
    margin: 10px 15px 5px;
    width: 100%;
    gap: 18px;
}

.product-name {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: var(--darkGrayishBlue);
    opacity: 40%;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
}

.product-big__text {
    font-family: "Fraunces", sans-serif;
    font-size: 32px;
    /* padding-bottom: 20px; */
    color: var(--veryDarkBlue);
}

.product-small__text {
    font-family: "Montserrat", sans-serif;
    color: var(--darkGrayishBlue);
    font-size: 14px;
    padding-bottom: 25px;
}

.price {
    display: flex;
    align-items: center;
    color: var(--darkCyan);
}

.current-price {
    font-family: "Fraunces", sans-serif;
    color: var(--darkCyan);
    font-size: 38px;
    font-weight: 700;
    margin-right: 50px;
}

.previous-price {
    font-family: "Fraunces", sans-serif;
    font-size: 12px;
    color: var(--darkGrayishBlue);
    text-decoration: line-through;
}

button {
    background: var(--darkCyan);
    color: var(--white);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

button:hover {
    background: rgb(41, 62, 41);
    transition: 5s ease-out;
}

.btn-icon {
    margin-right: 10px;
    width: 25px;
}

@media screen and(width: 600px) {
    .card {
        display: grid;
        max-width: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .chanel-perfume__1 {
        display: none;
    }

    .chanel-perfume__2 {
        display: block;
    }
}
